<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <p><strong>User Name</strong>: <%= user.userName %>
          </p>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
        <div class="mt-5">
          <h2>Add a post</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="eventtitle" class="form-control" id="name" placeholder="Title of Event"
                  required>
              </div>
              <div class="col-md-6 form-group">
                <input type="number" name="capacity" class="form-control" id="numberofpeople" placeholder="Capacity"
                  required>
              </div>

              <div class="col-md-6 form-group">
                <input type="text" name="phonenumber" class="form-control" id="phonenumber" placeholder="Phone Number"
                  required>
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="address" id="address"
                  placeholder="Please Enter Street address ex.'123 Main St'" required>
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="location" id="location"
                  placeholder="City and State ex.'Boston, MA'" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="datetime-local" class="form-control" name="date" id="date" placeholder="Date" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="description" rows="5" placeholder="Description" required></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <div class="text-center"><button type="submit">Upload Event</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') -%>