body {
  padding-top: 80px;
  word-wrap: break-word;
}

img {
  height: 200px;
}

#about-img {
  height: auto;
}

.gallery-card {
  max-height: 245px;
}

.card-body {
  max-width: 15rem;
  min-width: 15rem;
  height: 20rem;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  color: black
}

.hide {
  display: none;
}

.login-button {
  color: white;
  background-color: rgb(31, 133, 94);
  padding: 8px 10px;
  border-radius: 20px
  
}
.login-button:hover {
  color: white;
  background-color: rgb(104, 203, 165);
  padding: 8px 10px;
  border-radius: 20px

}

/* SIGNUP */
.signup-button {
  color: white;
  background-color: rgb(31, 133, 94);
  padding: 8px 10px;
  border-radius: 20px
}
.signup-button:hover {
  color: white;
  background-color: rgb(104, 203, 165);
  padding: 8px 10px;
  border-radius: 20px
}

/* SIGNUP */
.search-button {
  color: white;
  background-color: rgb(31, 133, 94);
  padding: 2px 10px;
  border-radius: 20px
}

/* UPLOADS */
#state {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.upload-button {
  color: white;
  background-color: rgb(31, 133, 94);
  padding: 13px;
  border-radius: 20px;
}

/* gallery */

.listofevents {
  display: flex;
  margin-top: 5%;
  text-align: center;
}

.gallery-left {
  flex: 1;
  border-right: 1px solid white;
}

.gallery-right {
  flex: 1;
}

.line-break {
  border-bottom: 1px solid grey;
}

.attending {
  border-right: 1px solid grey;
}

#button-style {
  background-color: rgb(44, 188, 133);
  color: white;
  border-radius: 15px;
  padding: 5px 30px;
}

.button-style {
  background-color: rgb(44, 188, 133);
  color: white;
  border-radius: 15px;
  padding: 5px 30px;
}

/* rgb(44, 188, 133) */